.message-container {
  display: grid;
  grid-template-rows: 20% 20% 1fr;
  height: 100%;
}

.message {
  place-self: center;
  grid-row: 2;
  text-align: center;
}

.msgSmall {
  font-size: 1rem;
}
.msgMedium {
  font-size: 2rem;
}
.msgBig {
  font-size: 4rem;
}

.msgInfo,
.msgSuccess,
.msgNotFound {
  color: var(--dark-blue);
}

.msgError {
  color: red;
}
