.header {
  background: var(--dark-blue);
  color: var(--gold);

  padding: 0 2vw;
  font-size: 50px;

  display: grid;
  grid-template-columns: 140px 1fr 70px;
  align-items: center;
}

.header img {
  vertical-align: middle;
  height: 70%;
}
